#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  word-wrap: break-word;
  text-align: center;
}

.card {
  margin: 10px;
}

.col {
}

.quantity {
  text-align: center;

  width: 3.3rem;
}
.quantity::-webkit-inner-spin-button {
  appearance: none;
}

h1{
  margin-bottom: 4rem;
}

.card-img-top {

  margin: 0 auto;
  max-width: 8.5rem;
  padding: 0.6rem;
  padding-bottom: 0;
}